In [1]:
# dependencies
import pandas as pd

In [2]:
# load and read in CSV file
file_to_load = "purchase_data.csv"

In [3]:
# create a variable to reference csv file and store into pandas df
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

    * Display the total number of players

In [4]:
# count 'SN' values
count = purchase_data["SN"].value_counts()
count = len(count)
count

576

In [5]:
# count 'Item ID' values
unique_items = purchase_data["Item ID"].value_counts()
unique_items = len(unique_items)
unique_items

183

In [6]:
# calculate avg 'price'
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [7]:
# count 'Purchase IDs'
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [8]:
# add values in 'Price'
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

# Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# create new summary df
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchase": [total_purchases], "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     183       3.050987                 780        2379.77

# Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [10]:
# filter by drop duplicates function
gender_df = purchase_data.loc[:, ["Gender", "SN"]].drop_duplicates()
gender = len(gender_df)
gender

576

In [11]:
# filter only males
only_male = gender_df.loc[gender_df["Gender"] == "Male", :]
male = len(only_male)
male

484

In [12]:
# filter only females
only_female = gender_df.loc[gender_df["Gender"] == "Female", :]
female = len(only_female)
female

81

In [13]:
# filter only other/ non-disclosed
only_other = gender_df.loc[gender_df["Gender"] == "Other / Non-Disclosed", :]
other = len(only_other)
other

11

In [14]:
# Create new DataFrame
male_perc = (male / gender) * 100
female_perc = (female / gender) * 100
other_perc = (other / gender) * 100

gender_data = [(male, male_perc) ,
         (female, female_perc) ,
         (other, other_perc)]

gender_demo_df = pd.DataFrame(gender_data, columns=["Total Count", "Percentage of Players"], index=["Male", "Female", "Other"])
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
gender_demo_df

        Total Count Percentage of Players
Male            484                84.03%
Female           81                14.06%
Other            11                 1.91%