In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
# load and read in CSV file
file_to_load = "purchase_data.csv"

In [3]:
# create a variable to reference csv file and store into pandas df
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

    * Display the total number of players

In [4]:
# count 'SN' values
total_count = purchase_data["SN"].value_counts()
total_count = len(total_count)
total_count

576

In [5]:
# count 'Item ID' values
unique_items = purchase_data["Item ID"].value_counts()
unique_items = len(unique_items)
unique_items

183

In [6]:
# calculate avg 'price'
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [7]:
# count 'Purchase IDs'
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [8]:
# add values in 'Price'
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

 # Purchasing Analysis (Total)   
    * Run basic calculations to obtain number of unique items, average price, etc.
    * Create a summary data frame to hold the results
    * Optional: give the displayed data cleaner formatting
    * Display the summary data frame

In [9]:
# create new summary df
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                           "Average Price": [avg_price], 
                           "Number of Purchases": [total_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:.2f}".format) 

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics

    * Percentage and Count of Male Players
    * Percentage and Count of Female Players
    * Percentage and Count of Other / Non-Disclosed

In [10]:
# filter by drop duplicates function
gender_df = purchase_data.loc[:, ["Gender", "SN"]].drop_duplicates()
gender = len(gender_df)
gender

576

In [11]:
# filter only males
only_male = gender_df.loc[gender_df["Gender"] == "Male", :]
male = len(only_male)
male

484

In [12]:
# filter only females
only_female = gender_df.loc[gender_df["Gender"] == "Female", :]
female = len(only_female)
female

81

In [13]:
# filter only other/ non-disclosed
only_other = gender_df.loc[gender_df["Gender"] == "Other / Non-Disclosed", :]
other = len(only_other)
other

11

In [14]:
# create percent calc variables
male_perc = (male / gender) * 100
female_perc = (female / gender) * 100
other_perc = (other / gender) * 100

# create tuple variable (tutor suggestion)
gender_data = [(male, male_perc) ,
         (female, female_perc) ,
         (other, other_perc)]

# create a new dataframe, adding in % .map format
gender_demo_df = pd.DataFrame(gender_data, columns=["Total Count", "Percentage of Players"], index=["Male", "Female", "Other"])
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
gender_demo_df

        Total Count Percentage of Players
Male            484                84.03%
Female           81                14.06%
Other            11                 1.91%

# Purchasing Analysis (Gender)
    
    * Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    * Create a summary data frame to hold the results
    * Optional: give the displayed data cleaner formatting
    * Display the summary data frame

In [15]:
# group by gender 
groupby = purchase_data.groupby("Gender")

In [16]:
# gender counts (unique players)
gender_total = groupby["SN"].nunique()
gender_total

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [17]:
# count total purchases by gender
purchase_count = groupby["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
# avg purchase price by gender
avg_price = groupby["Price"].mean()
avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [19]:
# total spend by gender
total_price = groupby["Price"].sum()
total_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
# avg total spend (per person)
avg_total_purchase = total_price / gender_total
avg_total_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [21]:
# create new dataframe for purchasing analysis (gender) calc 
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": avg_price,
                                     "Total Purchase Value": total_price, 
                                     "Average Total Purchase PP": avg_total_purchase})

# reformat dataframe with '$' added 
purchase_analysis_df["Average Purchase Price"]=purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)    
purchase_analysis_df["Total Purchase Value"]=purchase_analysis_df["Total Purchase Value"].map("${:.2f}".format) 
purchase_analysis_df["Average Total Purchase PP"]=purchase_analysis_df["Average Total Purchase PP"].map("${:.2f}".format) 

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase PP
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

    * Establish bins for ages
    * Categorize the existing players using the age bins. Hint: use pd.cut()
    * Calculate the numbers and percentages by age group
    * Create a summary data frame to hold the results
    * Optional: round the percentage column to two decimal points
    * Display Age Demographics Table

In [22]:
# using starter to determine age ranges
bins = [0, 9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99.9]

# create age ranges for the bins
age_bins = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34","35 - 39", "40+"]

# read csv and create a column to categorize existing players by 'age ranges'
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels = age_bins)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 - 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 - 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 - 24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 - 24

In [23]:
# create a groupby 'age ranges'
age_ranges = purchase_data.groupby("Age Ranges")

In [24]:
# count the number of players in each age range
age_count = age_ranges["SN"].nunique()

# calc percentage of players in each age range
age_percent = (age_count / total_count * 100)

# create a dataframe breakdown for age demographics of players
age_demo = pd.DataFrame({"Total Count": age_count,
                         "Percentage of Players": age_percent})

# reformat Percentage of Players using % .map format
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}%".format)
age_demo

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10 - 14              22                 3.82%
15 - 19             107                18.58%
20 - 24             258                44.79%
25 - 29              77                13.37%
30 - 34              52                 9.03%
35 - 39              31                 5.38%
40+                  12                 2.08%

# Purchasing Analysis (Age)

    * Bin the purchase_data data frame by age
    * Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
    * Create a summary data frame to hold the results
    * Optional: give the displayed data cleaner formatting
    * Display the summary data frame

In [25]:
# age_count = age_ranges["SN"].nunique() *refer back to this groupby variable for actual number of players within each age range

# count total purchases by age range
purchase_count = age_ranges["SN"].count()

# average purchase price by age range
avg_purchase_price = age_ranges["Price"].mean()

# total purchase values by age range 
total_purchases = age_ranges["Price"].sum()

# average total purchase per person
avg_purchase_pp = total_purchases / age_count

In [26]:
# create a dataframe with above calc by age  
purchase_analysis_df = pd.DataFrame({"Purchase Counts (Age)": purchase_count,
                                     "Avg Purchase Price": avg_purchase_price,
                                     "Total Purchases (Age)":total_purchases,
                                     "Avg Total Purchase PP": avg_purchase_pp})

# reformat selected columns with '$' using the .map formatting
purchase_analysis_df["Avg Purchase Price"]=purchase_analysis_df["Avg Purchase Price"].map("${:.2f}".format)  
purchase_analysis_df["Total Purchases (Age)"]=purchase_analysis_df["Total Purchases (Age)"].map("${:.2f}".format)  
purchase_analysis_df["Avg Total Purchase PP"]=purchase_analysis_df["Avg Total Purchase PP"].map("${:.2f}".format)  

purchase_analysis_df

,Purchase Counts (Age),Avg Purchase Price,Total Purchases (Age),Avg Total Purchase PP
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10 - 14,28,$2.96,$82.78,$3.76
15 - 19,136,$3.04,$412.89,$3.86
20 - 24,365,$3.05,$1114.06,$4.32
25 - 29,101,$2.90,$293.00,$3.81
30 - 34,73,$2.93,$214.00,$4.12
35 - 39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders
    
    * Run basic calculations to obtain the results in the table below
    * Create a summary data frame to hold the results
    * Sort the total purchase value column in descending order
    * Optional: give the displayed data cleaner formatting
    * Display a preview of the summary data frame

In [27]:
top_spenders = purchase_data.groupby("SN")

purchase_count_spend = top_spenders["SN"].count()
avg_purchase_price_spend = top_spenders["Price"].mean()
total_purchase_spend = top_spenders["Price"].sum() 

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spend,
                             "Average Purchase Price": avg_purchase_price_spend,
                             "Total Purchase Value":total_purchase_spend})
top_spenders

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [28]:
# sort the total purchase value column in descending order * use ascending=False to show descending values
top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders

# reformat the columns with '$' using the .map function
top_spenders["Average Purchase Price"]=top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"]=top_spenders["Total Purchase Value"].map("${:.2f}".format) 
top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10